{% extends 'blog/base.html' %}

{% block content %}
  <div class="content">
  {% for story in stories %}
    <div class="tile">
      <table class="row">
        <div class="">
          <a href="{{story.story_link}}" target="_blank" class="button-link">{{story.story_title}}</a>
        </div>
      </table>
      <div class="row">
        <div class="twelve columns">
          <a href="#" class="four columns button">
            <span class="six columns">Upvote</span>
            <span class="one column">|</span>
            <span class="five columns">{{story.upvotes}}</span>
          </a>
          <a href="#" class="four columns button">
            <span class="six columns">Downvote</span>
            <span class="one column">|</span>
            <span class="five columns">{{story.downvotes}}</span>
          </a>
          <a href="#" class="four columns button">
            <span class="six columns">Comments</span>
            <span class="one column">|</span>
            <span class="five columns">{{123}}</span>
          </a>
        </div>
      </div>
    </div>
  {% endfor %}
  </div>
{% endblock %}
